@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('/public/assets/fonts/Montserrat.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
   src: url('/public/assets/fonts/Poppins-Regular.ttf') format('truetype');
}
